<fieldset>
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-tag"></span>
        <%= f.text_field :content, class: "form-control" %>
        <%= f.hidden_field :_destroy %>
        <span class="input-group-addon glyphicon glyphicon-remove remove_fields"></span>
    </div>

  <%= f.hidden_field :x_loc %>

  <%= f.hidden_field :y_loc %>

</fieldset>
