// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tagImage:hover {
    cursor: pointer;
}

body {
    padding: 0px;
}

.tagInput {
    position: absolute;
}

.glyphicon {
    position: static;
}

.input-group-addon {
    width: 0;
}

.remove_fields:hover {
    cursor: pointer;
    color: #fff;
}

#expand {
    transition: width .4s ease-in-out;
    width: 0px;
}

#expand:hover, #expand:focus {
    width: 200px;
}


//COVERFLOW IMPLEMENTATION
.coverflow{
 //width: 80%;
 //height: 150px;
 perspective: 500px;
 -webkit-perspective: 500;
 transform-style: preserve-3d;
 -webkit-transform-style: preserve-3d;
}

.coverflow .flowItem{
 position:absolute;
 height: 100%;
 width: 40%;
 left:50%;
 top:50%;
 margin-left:-100px;
 //margin-top: -75px;
 cursor: pointer;
 z-index: 10;

 transition: all 1s;
}
